 .navbar{
    list-style: none;
    background-color: black;
    overflow: hidden;
    padding:0;
    }

    .navbar a, .dropdown div{
    text-decoration: none;
    color: red;
    font-size: 24px;
    padding: 16px;
    display: inline-block;
    }
    .navbar li{
        float: left;
    }
    .navbar li:hover{
        background-color:blue;
    }
    .dropdown-content{
        list-style: none;
        padding:0;
        display:none;
        position: absolute;
        z-index:9;
        background-color:black;
    }
    .dropdown-content li{
        float:none;
        padding:0;
    }
    .dropdown:hover .dropdown-content{
        display:block;
    }
    .active{
        background-color:pink
    }
    .center{
        text-align:center;
    }
    .backgrounddog{
        background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=64e685192c&attid=0.1&permmsgid=msg-f:1646209897458304935&th=16d8832e03bc07a7&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ-0D85XZazoxhumDPd_o1OqU60WGlucto5xS2efRWJEO40hvg1ESAPjPa8yamFmdusBnAjIPTF_bs6knTrQ3iy-w8V6pTIQR0JduV4mGjezRFrIxytpjpvJpg8&disp=emb&realattid=16d883269f375e846f42");
    }